.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  #head-nav-band .navbar-layout-login {
    border: none;
    -webkit-box-shadow: 0 1px 3px #cdcdcd;
    box-shadow: 0 1px 3px #cdcdcd;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  #head-nav-band .navbar {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .navbar {
    border-radius: 0;
    border: 1px solid transparent;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
  }
  
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  
  .navbar.navbar-default {
    background-color: var(--primary-background-color);
    border-color: #ddd;
  }
  
  @media (min-width: 768px) {
    .navbar {
      border-radius: 2px;
    }
  }
  
  #head-nav-band .navbar .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }
  
  @media (min-width: 768px) {
    .navbar-header,
    .navbar-left,
    .navbar-right {
      float: left;
    }
  
    .navbar-right {
      margin-right: -15px;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .navbar-nav {
      float: left;
      margin: 0;
    }
  
    .navbar-nav>li {
      float: left;
    }
  
    .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  .navbar-header .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (min-width: 767px) {
    .navbar .navbar-nav.navbar-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
    }
  }
  



  .navbar .navbar-nav {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .navbar-nav {
    margin: 7.5px -15px;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav:after, .nav:before {
    display: table;
    content: " ";
  }
  
  .layout-default .navbar-right>li {
    display: table-cell;
  }
  
  .nav>li, .nav>li>a {
    position: relative;
    display: block;
  }
  
  body.he-collection #head-nav-band .navbar #topbar-pricing-page a {
    margin: 0 10px;
  }
  
  @media (max-width: 992px) {
    #head-nav-band .navbar #topbar-pricing-page a {
      padding: 15px 10px;
    }
  }
  
  #head-nav-band .navbar #topbar-pricing-page a {
    padding: 13px 10px 17px;
  }
  
  #head-nav-band .navbar .navbar-nav .btn-signin {
    white-space: nowrap;
    font-size: 15px;
    padding-top: 8px;
  }
  
  .navbar.navbar-default .navbar-nav>li>a {
    height: 20px;
    padding: 15px 10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .navbar.navbar-default .navbar-nav>li>.btn-link,
  .navbar.navbar-default .navbar-nav>li>a {
    color: #191d1f;
    cursor: pointer;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
  }
  
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-text {
    color: var(--primary-accent-color);
  }
  
  .nav:after {
    clear: both;
  }

  .collapse.in {
    display: block;
}
  
  #head-nav-band .navbar-layout-l#head-nav-band .navbar-layout-login .navbar-collapse-offlineogin .navbar-collapse-offline {
    margin: 0;
  }
  
  #head-nav-band .navbar-layout-login .navbar-collapse-offline>li {
    border: none;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
  }

  .nav>li, .nav>li>a {
    position: relative;
    display: block;
}
  
  #head-nav-band .navbar .signin-collection {
    margin: 8px 20px;
    padding: 12px 20px;
    color: var(--primary-background-color);
    font-weight: 700;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
      border-radius: 0;
    }
  }
  
  #head-nav-band .navbar-layout-login .navbar-toggle {
    height: 34px;
    margin-top: 10px;
  }
  
  .navbar-default .navbar-toggle {
    border-color: var(--secondary-accent-color2);
  }
  
  body.he-collection #head-nav-band .navbar .navbar-header .navbar-brand {
    height: 100%;
    padding: 16px;
  }
  
  @media (min-width: 767px) {
    body.he-collection #head-nav-band .navbar .navbar-header .navbar-brand {
      width: 100%;
      padding: 22px 25px 19px 40px;
    }
  }
  
  #head-nav-band .navbar .navbar-header .navbar-brand {
    padding: 0 15px;
  }
  
  .navbar-default .navbar-brand {
    color: var(--primary-accent-color);
  }
  
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  
  #head-nav-band .navbar .navbar-header .navbar-brand .he_collection_logo,
  #head-nav-band .navbar .navbar-header .navbar-brand .he_logo {
    width: 146px;
    height: 53px;
  }
  
  #head-nav-band .navbar .navbar-header .navbar-brand .he_collection_logo {
    width: max-content;
    height: 45px;
  }
  
  .navbar-brand>img {
    display: block;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    vertical-align: middle;
    border: 0;
  }
  
  .collapse {
    display: none;
  }
  
  *, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body.he-collection .btn-primary {
    color: var(--primary-background-color);
  }
  
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  
  .nav>li>a {
    padding: 10px 15px;
  }
  


.navbar-header .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 767px) {
    .navbar-header .container-nav {
        -webkit-box-pack:justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

@media (min-width: 767px) {
    .navbar-header .container-nav .navbar-right .not-display {
        display:none
    }
}


.navbar .navbar-nav .dropdown-menu .vertical-list>li,.navbar .navbar-nav .dropdown-menu>li {
    border-top: 1px solid #e3e3e3
}

.navbar .navbar-nav .dropdown-menu .vertical-list>li:first-child,.navbar .navbar-nav .dropdown-menu>li:first-child {
    border-top: 0
}

body.layout-default .has-reduced-searchbar .navbar-toggle {
    border: none
}

body.layout-default .has-reduced-searchbar #navbar-collapse,body.layout-default .has-reduced-searchbar #navbar-collapse .navbar-collapse-offline,body.layout-default .has-reduced-searchbar .navbar-right .navbar-toggle .icon-bar {
    background-color: #fff
}

body.layout-default .has-reduced-searchbar .navbar-right .not-display {
    display: none
}

@media (max-width: 767px) {
    #navbar-collapse {
        width:100%
    }
}

.support-hover .navbar .navbar-nav .dropdown-menu.moving-hover .link-top-help,.support-hover .navbar .navbar-nav .dropdown-menu.moving-hover>li>a {
    position: relative;
    padding-left: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.support-hover .navbar .navbar-nav .dropdown-menu.moving-hover .link-top-help:hover,.support-hover .navbar .navbar-nav .dropdown-menu.moving-hover>li>a:hover {
    padding-left: 20px
}

.layout-default .navbar-header {
    float: left
}

.layout-default .navbar-right {
    float: right
}

.layout-default .navbar-right>li {
    display: table-cell
}

.navbar-header .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 767px) {
    .navbar-header .container-nav {
        -webkit-box-pack:justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

@media (min-width: 767px) {
    .navbar-header .container-nav .navbar-right .not-display {
        display:none
    }
}

.navbar {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0
}

.navbar .navbar-nav {
    position: relative;
    margin-top: 0;
    margin-bottom: 0
}

.navbar .navbar-nav .dropdown-menu {
    width: 340px;
    padding: 0;
    right: -1px;
    color: #848383;
    border: 1px solid #e3e3e3;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box
}

.navbar .navbar-nav .dropdown-menu>li>a {
    color: #191d1f;
    white-space: normal;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out
}

.navbar .navbar-nav .dropdown-menu>li>a span.lhs-profile-menu-listing {
    position: relative;
    margin-right: 4px
}

.navbar .navbar-nav .dropdown-menu>li>a span.lhs-profile-menu-listing .icon-lhs {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-left: -15px;
    font-size: 12px
}

.navbar .navbar-nav .dropdown-menu a {
    padding: 12px
}

.navbar .navbar-nav .dropdown-menu a.plus-help-menu {
    padding-left: 2px
}

.navbar .navbar-nav .dropdown-menu li a .plus-menu .horizontal-line,.navbar .navbar-nav .dropdown-menu li a .plus-menu .vertical-line {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    -webkit-transform-origin: center;
    transform-origin: center
}

.navbar .navbar-nav .dropdown-menu li a[aria-expanded=true] .plus-menu .vertical-line {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.navbar .navbar-nav .dropdown-menu li a[aria-expanded=true] .plus-menu .horizontal-line {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.navbar .navbar-nav .dropdown-menu li a .plus-help-menu {
    padding: 0 0 0 5px;
    color: #aa8c78;
    display: inline
}

.navbar .navbar-nav .dropdown-menu li a .plus-help-menu:hover {
    color: #aa8c78;
    text-decoration: underline;
    background: inherit
}

.navbar .navbar-nav .dropdown-menu li a.whats-new {
    color: #aa8c78
}

@media (min-width: 767px) {
    .navbar .navbar-nav.navbar-right {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0
    }
}

.navbar.navbar-default {
    background-color: #fff;
    border-color: #ddd
}

.navbar.navbar-default .navbar-nav>li:focus,.navbar.navbar-default .navbar-nav>li:hover {
    background-color: transparent
}

.navbar.navbar-default .navbar-nav>li>.btn-link,.navbar.navbar-default .navbar-nav>li>a {
    color: #191d1f;
    cursor: pointer;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out
}

.navbar.navbar-default .navbar-nav>li>.btn-link:focus,.navbar.navbar-default .navbar-nav>li>.btn-link:hover,.navbar.navbar-default .navbar-nav>li>a:focus,.navbar.navbar-default .navbar-nav>li>a:hover {
    color: #8b8b8b;
    text-decoration: none
}

.navbar.navbar-default .navbar-nav>li>a {
    height: 20px;
    padding: 15px 10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.navbar.navbar-default .navbar-nav li .panel-menu-messages {
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar.navbar-default .navbar-nav li .panel-menu-messages a {
    cursor: pointer
}

.navbar.navbar-default .navbar-nav li .panel-menu-messages a:focus,.navbar.navbar-default .navbar-nav li .panel-menu-messages a:hover {
    color: #068295
}

.navbar.navbar-default .navbar-nav li .panel-menu-messages .panel-collapse {
    background: none
}

.navbar.navbar-default .navbar-nav li .panel-menu-messages .panel-collapse .panel-body {
    padding-top: 0
}

.navbar .navbar-collapsible-item {
    margin-bottom: 0;
    border-radius: 0;
    border-top: 1px solid #e3e3e3
}

.navbar .navbar-collapsible-item:first-of-type {
    border-top: none
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-heading {
    padding: 0
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-heading a {
    display: block;
    cursor: pointer
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-heading a:focus,.navbar .navbar-collapsible-item .navbar-collapsible-item-heading a:hover {
    color: #068295
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-heading .badge-menu {
    margin-left: 6px
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-heading .plus-menu {
    position: absolute;
    right: 20px
}

.navbar .navbar-collapsible-item .navbar-collapsible-item-body {
    padding: 0 20px 20px;
    color: #8b8b8b
}

.badge-menu {
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 400;
    background-color: #aa8c78;
    border-radius: 10px
}

body.he-collection .badge-menu {
    background-color: #c23737
}

.badge-menu.badge-absolute {
    position: absolute;
    top: -7px;
    right: -7px
}

#badge-gp {
    position: relative;
    display: inline-block;
    width: 4px
}

#badge-gp span {
    top: -22px;
    right: -6px
}

.no-support-hover .disabled-link-mobile {
    pointer-events: none
}

.layout-login.he-collection.layout-messaging {
    margin-top: 0
}

@media (max-width: 767px) {
    .layout-login .navbar .container-fluid {
        padding:0
    }

    .layout-login .navbar-header {
        display: table;
        width: 100%;
        margin: 0
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-collapse .navbar-tools {
        display: table;
        width: 100%;
        margin: 0
    }

    .navbar-collapse .navbar-tools>li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        position: static;
        white-space: normal
    }

    .navbar-collapse .navbar-tools>li>a {
        display: inline-block
    }

    .navbar-collapse .navbar-tools>li>.dropdown-menu {
        width: 100%
    }
}
@media (max-width: 767px) {
    #head-nav-band .navbar-header .navbar-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

#head-nav-band .navbar-layout-login .navbar-toggle {
    height: 34px;
    margin-top: 10px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dashboard-module-info .btn-alert.saved .btn-alert-text, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 2px;
}
[class*=" icon-"], [class^=icon-] {
    font-family: gtg-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }


    #navbar-collapse {
        display: none;
    }

    #navbar-collapse.open {
        display: block;
        position: absolute;
        top: 70px;
        background-color: var(--primary-background-color);
    }
} 

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}


@media (max-width: 767px) {
  #head-nav-band .navbar .signin-collection {
      width: 50%;
      margin: 8px auto;
  }
}


#head-nav-band .navbar .signin-collection {
  padding: 12px 20px;
  color: #fff;
  font-weight: 700;
}
